<div class="bg-gray-100 h-screen flex flex-col">
    <main class="flex flex-1 overflow-hidden">

        <aside class="w-1/5 bg-white border-r overflow-y-auto p-4">
            <app-group-list (selectedDocumetGroup)="onSelectDocumentGroup($event)" />
        </aside>

        <!-- Documentos -->
        <section class="w-2/5 bg-white border-r overflow-y-auto p-4">
            <app-document-types-list [parentGroup]="selectedGroup()?.groupId"
                [parentTargetGroup]="selectedGroup()?.targetId"
                (onDocumentypeSeleted)="onDocumentTypeSelected($event)" />
        </section>

        <!-- Llaves -->
        <section class="w-2/5 bg-white overflow-y-auto p-4">
            <app-document-type-schema [documentTypeID]="selectedDocumentType()?.documentTypeId" [targetDocumentTypeId]="selectedDocumentType()?.targetDocumentTYpe" />
        </section>
    </main>
    <footer class="bg-white border-t p-4 flex justify-between items-center">
        <span class="text-sm text-gray-500">Revisa antes de transferir</span>
        <div class="space-x-2">
            <button class="bg-gray-300 hover:bg-gray-400 text-gray-700 px-4 py-2 rounded shadow"
                onclick="toggleModal()">Revisar antes de transferir</button>
            <button class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded shadow">Transferir ahora</button>
        </div>
    </footer>
</div>