<h3 class="text-lg font-semibold text-gray-800 dark:text-gray-200">
  @if (origin() === 'Source') {
    Source System
  } @else {
    Destination System
  }
</h3>

<div class="mt-2">
  <label for="destUsername" class="block text-sm text-gray-600 dark:text-gray-400">Store</label>
  <span class="">
    @if (store() === 'Cloud') {
      ProDoctivity Cloud (V6)
    } @else {
      ProDoctivity Fluency (V5)
    }
  </span>
</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="mt-2">
    <label for="server" class="block text-sm text-gray-600 dark:text-gray-400">Server</label>
    <input
      type="text"
      id="server"
      formControlName="server"
      placeholder="Url de servidor"
      class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
  </div>

  <div class="mt-2">
    <label for="username" class="block text-sm text-gray-600 dark:text-gray-400">Username</label>
    <input
      type="text"
      id="destUsername"
      formControlName="username"
      placeholder="Enter username"
      class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
  </div>
  <div class="mt-2">
    <label for="password" class="block text-sm text-gray-600 dark:text-gray-400"
      >Password or API Key</label
    >
    <input
      type="password"
      id="password"
      formControlName="password"
      placeholder="Enter password or API key"
      class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
  </div>
  @if (store() === 'Cloud') {
    <div class="mt-2">
      <label for="organization" class="block text-sm text-gray-600 dark:text-gray-400"
        >Organization</label
      >
      <input
        type="text"
        id="organization"
        formControlName="organization"
        placeholder="Enter Organization Id"
        class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>
  }

  <div class="mt-2">
    <label for="xapikey" class="block text-sm text-gray-600 dark:text-gray-400">X-Api-Key</label>
    <input
      type="password"
      id="xapikey"
      formControlName="xapikey"
      placeholder="Enter API key"
      class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
  </div>

  @if (store() === 'V5') {
    <div class="mt-2">
      <label for="database" class="block text-sm text-gray-600 dark:text-gray-400">DataBase</label>
      <input
        type="text"
        id="database"
        formControlName="database"
        placeholder="Enter  data base name"
        class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>
  }

  @if (store() === 'Cloud') {
    <div class="mt-2">
      <label for="xapisecret" class="block text-sm text-gray-600 dark:text-gray-400"
        >X-Api-Secret</label
      >
      <input
        type="password"
        id="xapisecret"
        formControlName="xapisecret"
        placeholder="Enter  API secret"
        class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>
  }

  <div class="mt-4">
    <button
      type="submit"
      [disabled]="isLoading() || tokenIsProvide()"
      class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 disabled:opacity-50 disabled:cursor-not-allowed flex items-center justify-center gap-2"
    >
      <!-- Spinner de loading -->
      @if (isLoading()) {
        <svg
          class="animate-spin h-4 w-4 text-white"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
      }
      <span>{{ buttonLabel() }}</span>
    </button>
    <ng-content />
  </div>
</form>
