<div class="p-4 lg:p-6 flex flex-col h-[calc(100vh-73px)]">
  <!-- Campo de búsqueda -->
  <div class="flex items-center space-x-2 mb-4">
    <label for="nombre" class="w-24 text-gray-700 text-right">Grupos</label>
    <input
      id="nombre"
      type="text"
      class="flex-1 border border-gray-300 rounded px-2 py-1 focus:outline-none focus:ring-2 focus:ring-blue-400"
    />
  </div>

  <!-- Lista con scroll invisible y sutil al hover -->
  <div
    class="flex-1 overflow-y-auto scrollbar-thin scrollbar-thumb-gray-300 scrollbar-track-gray-100 hover:scrollbar-thumb-gray-400"
  >
    <div class="p-2 space-y-1">
      @for (item of SchemaDocumentGroups(); track $index) {
        <div
          tabindex="0"
          (keydown)="markItemAsSelected(item.groupId)"
          [ngClass]="getItemClass(item.groupName)"
          (click)="markItemAsSelected(item.groupId)"
          class="cursor-pointer flex items-center"
        >
          <div class="w-4 h-4 lg:w-5 lg:h-5 text-amber-500 mr-2 lg:mr-3">📁</div>
          <span class="text-sm font-medium text-gray-900 min-w-0 flex-1">
            {{ item.groupName }}s
          </span>
          @if (item.targetId !== null) {
            <div class="ml-auto flex items-center flex-shrink-0">
              <div class="w-2 h-2 bg-green-500 rounded-full mr-2"></div>
              <span class="text-xs text-green-600 hidden sm:inline">Sincronizado</span>
            </div>
          }
        </div>
      }
      @if (SchemaDocumentGroups().length === 0) {
        esperando...
      }
    </div>
  </div>
</div>
